<nav class="sidebar">
  <div class="sidebar-header">
    <h2>Central Server Logs</h2>
  </div>
  <ul class="nav-list">
    <li class="nav-item">
      <a routerLink="/mw-logssss" routerLinkActive="active" class="nav-link">
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/mw-logs" routerLinkActive="active" class="nav-link">
        Middle Ware Logs
      </a>
    </li>
      <li class="nav-item">
      <a routerLink="/vendor-logs" routerLinkActive="active" class="nav-link">
        Vendor Portal Logs
      </a>
    </li>
  </ul>
</nav>
